<section id="end">
    <div class="imagem">
        <img src="../../assets/cafe.fundo.jpg" alt="cafe">
    </div>
</section>
<section class="conteudo">
    <div class="historia">
        <h1>Nossa História</h1>
        <p>
            Desde 1984, A Grão Imperial, estátuas lendárias empoleiradas em seu pilar central, observam com um olhar
            divertido a efervescência deste Café literário de Saint-Germain-des-Prés, que também se tornou um
            restaurante
            reconhecido na Margem Esquerda.

            Essas silhuetas de madeira testemunharam o encontro de artistas e intelectuais de todo o mundo para
            reinventar
            modos de vida, criar novas correntes literárias e artísticas e repensar continuamente o mundo de hoje e de
            amanhã. .

            O local, animado pelo ritmo do balé dos garçons, recebe hoje tanto curiosos de todo o mundo quanto
            parisienses
            que gostam de se apropriar do local para se divertir... a própria essência de um Café, um verdadeiro
            encontro
            lugar!
        </p>
        <p>
            Desde a sua criação, o Grão Imperial Cafeteria foi frequentado por artistas famosos como Guillaume
            Apollinaire,
            Louis Aragon, André Gide, Jean Giraudoux, Fernand Léger, Jacques Prévert, Ernest Hemingway, etc.

            Já hospedou muitos movimentos literários e artísticos, como os surrealistas sob a égide de André Breton ou
            os
            existencialistas em torno de Jean-Paul Sartre e Simone de Beauvoir.

            Hoje, igualmente popular, atrai personalidades do mundo da arte e da literatura, da moda e da política, e
            turistas que vêm dar uma pausa para o café em SP.
        </p>
    </div>
</section>
<div class="cnt">
    <h1>Eventos Literários</h1>
    <p>
        A Grão Imperial Cafeteria organiza vários encontros literários com a "segunda-feira dos escritores" uma vez por
        mês e,
        ocasionalmente, workshops para entusiastas da escrita. Quando chega o bom tempo, a Casa veste seu traje de gala
        para
        celebrar a seleção do verão literário em torno de renomados artistas franceses.

        O Prêmio Pelléas, criado em 1997 por Jean-Yves Clément e Jacques Mathivat, é concedido na primavera de cada ano
        para
        premiar "uma obra musical com as melhores qualidades literárias".

        O Prix Apollinaire, fundado em 1941, coroa a cada ano “além de qualquer dogmatismo de escola ou técnica uma
        coleção
        caracterizada por sua originalidade e sua modernidade”. Considerado o Goncourt de la Poésie, agora é apresentado
        no
        Literary Grão Imperial Cafeteria no outono sob o patrocínio de uma celebridade que lê os textos do vencedor.
    </p>
</div>