// FONTES 
  @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Playfair+Display:ital,wght@1,500&display=swap');
  $fonte-principal: Georgia, 'Times New Roman', Times, serif;
  $fonte-secundaria: 'Open Sans', sans-serif;
  $pequena: 14px;
  $media: 16px;
  $grande: 25px;
  $extra-grande: 32px;

  /* CORES */
$cor-principal: #5b1f00;
$cor-secundaria: #9a5833;
$cor-terceira: #2e120e;
$branco: #ffffff;
$vinho-claro: #864332;
$vinho-medio: #5c1e14;
$vinho-escuro: #3a0800;
$preto: #000000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    // especifica o comportamento de rolagem para uma caixa de scrolling,ou seja usado para suavizar a barra de rolagem
    scroll-behavior: smooth;
    font-family: $fonte-principal;
}

/* SOMBRAS */
$card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$card-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
$card-shadow-hover: 0 8px 16px rgba(0,0,0,0.15), 0 20px 20px rgba(0, 0, 0, 0.411);


