<div>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Venha se deliciar com o nosso <span> Menu Imperial </span>
            </h1>
            <article>
                Se em vez disso decidir sentar-se na esplanada no cenário verde em frente à igreja, e de repente
                sentir uma forte vontade de mudar o mundo, é certamente uma pitada de Sartre ou Beauvoir misturada
                com a canela da sua tarte tatin…
            </article>
        </div>
        <div class="img">
        <img src="../../assets/taça.jpg" alt="">
        </div>
    </section>
</div>
<div>
    <section id="imoveis-favoritos">
        <h3>Confira aqui nossas novidades em nosso cardápio:</h3>
        <mat-grid-list cols="3" rowHeight="3:4">
            <div *ngFor="let imovel of imoveis">
                <mat-grid-tile *ngIf="imovel.favorito">
                    <mat-card>
                        <img mat-card-image [src]="imovel.foto" [alt]="imovel.titulo" />
                        <mat-card-content>
                            <h3>{{ imovel.titulo }}</h3>
                            <ul>
                                <li>Quartos: {{ imovel.quartos }}</li>
                                <li>Banheiros: {{ imovel.banheiros }}</li>
                                <li>Metragem: {{ imovel.area }} m²</li>
                                <li>Preço: R$ {{ imovel.preco }},00</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="verDetalhes(imovel.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </section>
    <section id="imoveis-favoritos">
        <mat-grid-list cols="3" rowHeight="3:4">
            <div *ngFor="let imovel of imoveis">
                <mat-grid-tile *ngIf="imovel.favorito">
                    <mat-card>
                        <img mat-card-image [src]="imovel.foto" [alt]="imovel.titulo" />
                        <mat-card-content>
                            <h3>{{ imovel.titulo }}</h3>
                            <ul>
                                <li>Quartos: {{ imovel.quartos }}</li>
                                <li>Banheiros: {{ imovel.banheiros }}</li>
                                <li>Metragem: {{ imovel.area }} m²</li>
                                <li>Preço: R$ {{ imovel.preco }},00</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="verDetalhes(imovel.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </section>
    <!-- <homeContent></homeContent> -->
</div>