<div>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Venha se deliciar com o nosso <span> Menu Imperial </span>
            </h1>
            <article>
                Se em vez disso decidir sentar-se na esplanada no cenário verde em frente à igreja, e de repente
                sentir uma forte vontade de mudar o mundo, é certamente uma pitada de Sartre ou Beauvoir misturada
                com a canela da sua tarte tatin…
            </article>
        </div>
        <div class="img">
            <img src="../../assets/taça.jpg" alt="">
        </div>
    </section>
</div>
<section id="lista">
    <h2>Confira aqui nossas novidades em nosso cardápio:</h2>
    <mat-grid-list cols="3" rowHeight="3:4">
        <div *ngFor="let cafe of cafes; let i = index">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header><img mat-card-image [src]="cafe.foto" [alt]="cafe.titulo" />
                    </mat-card-header>
                    <mat-card-content>

                        <h4>{{ cafe.titulo }}</h4>
                        <h5>{{ cafe.preco |currency }}</h5>
                        <mat-card-actions>
                            <div class="example-button-container">
                                <button [class]="cafe.favorito === false ? 'favorito' : 'favorito-checked'"
                                    [title]="cafe.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                    mat-button (click)="toogleFavorito(i)">
                                    <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite">
                                    </mat-icon>

                                </button>
                            </div>

                            <button mat-button (click)="verDetalhes(cafe.id)">Mais detalhes</button>

                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</section>


<section id="cafes-favoritos">
    <h3>Confira aqui sua lista de favoritos:</h3>
    <mat-grid-list cols="3" rowHeight="3:4">
        <div *ngFor="let cafe of cafes; let i = index">
            <mat-grid-tile *ngIf="cafe.favorito">
                <mat-card>
                    <mat-card-header><img mat-card-image [src]="cafe.foto" [alt]="cafe.titulo" />
                    </mat-card-header>
                    <mat-card-content>

                        <h4>{{ cafe.titulo }}</h4>
                        <h5>{{ cafe.preco |currency }}</h5>
                        <mat-card-actions>
                            <div class="example-button-container">
                                <button [class]="cafe.favorito === false ? 'favorito' : 'favorito-checked'"
                                    [title]="cafe.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                    mat-button (click)="toogleFavorito(i)">
                                    <mat-icon aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                                </button>

                            </div>
                            <button mat-button (click)="verDetalhes(cafe.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</section>