@import "../app.component.scss";

* {
    font-family: $fonte-principal;
}


.home {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
    background-image: url(../../assets/graos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.home-content {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.384);
    opacity: 0.9;
    text-align: center;
    border-radius: 9px;
}

.img {
    text-align: right;
    width: 50%;
}

.home-content h1 {
    font-family: $fonte-principal;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    -webkit-text-stroke: 1px $branco;
    color: $preto;
}

.home-content span {
    -webkit-text-stroke: 2px $preto;
    color: $cor-secundaria;
}


.text-animate h1 {
    font-size: 3.2rem;
    font-weight: 700;
    height: 45px;
    color: transparent;
    padding: 20px 0 20px;
    -webkit-text-stroke: 3px $vinho-medio;
    background-repeat: no-repeat;
    font-family: $fonte-principal;
    text-align: center;
}

.home-content article {
    font-size: 20px;
    margin: 20px 50px 40px 50px;
    padding: 30px 0 20px;
    color: $branco;
}

#lista {
    background-image: linear-gradient(to right, $preto, $cor-principal);
}

#cafes-favoritos {
    background-image: linear-gradient(to right, $preto, $vinho-medio);
}


h2 {
    font-family: $fonte-principal;
    font-size: $grande;
    color: $branco;
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.555);
}

h3 {
    font-family: $fonte-principal;
    font-size: $grande;
    color: $branco;
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.445);
}


mat-grid-tile {
    mat-card {
        background-color: $branco;
        margin: 10px;
        box-shadow: $card-shadow;
        transition: $card-transition;
        width: 400px;

        &:hover {
            box-shadow: $card-shadow-hover;
        }

        img {
            width: 100%;
            height: 300px;
        }

        mat-card-content {
            h4 {
                font-family: $fonte-principal;
                font-size: $grande;
                color: $preto;
                padding-top: 33px;
                height: 30px;
                text-align: center;
            }

            h5 {
                font-family: $fonte-principal;
                font-size: $grande;
                color: $preto;
                padding-top: 21px;
                height: 30px;
                text-align: center;
            }
        }

        mat-card-actions {
            padding-bottom: 20px;
            gap: 10px;

            .favorite {
                width: 20%;
                background-color: $branco;
                border: 1px solid $cor-principal;
            }

            mat-icon {
                color: $cor-principal;
            }

            button {
                display: block;
                width: 80%;
                height: 48px;
                cursor: pointer;
                border: none;
                border-radius: 4px;
                background-color: $cor-secundaria;
                color: $branco;
                font-family: $fonte-secundaria;
                font-size: $media;

            }

            .favorite-checked {
                width: 10%;
                background-color: $cor-principal;
            }
        }
    }
}