<div>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Olá, somos a <span>Grão Imperial Cafeteria</span>
            </h1>
            <div class="text-animate">
                <h2>Jazz & Conforto </h2>
            </div>
            <p>
                Neste bairro de encanto único, diz-se que aqui, neste local mítico, todos os pensamentos partilhados
                ainda hoje se mantêm vivos e que se misturam com os quentes vapores do chocolate quente em
                reconfortantes notas de jazz.

                Portanto, não se surpreenda se inspirarem você um pouco enquanto saboreia seu prato e descobre as nossas
                especialidades.
            </p>
        </div>
    </section>
    </div>
