@import "../app.component.scss";

* {
    font-family: $fonte-principal;
}


.home {
    height: 90vh;
    background: url(../../assets/img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 5%;
}


.home-content {
    max-width: 600px;
    background-color: rgba(247, 247, 247, 0.473);
    opacity: 0.9;
    border-radius: 19px;

    h1 {
        font-family: $fonte-principal;
        font-size: 55px;
        font-weight: 700;
        line-height: 1.2;
        -webkit-text-stroke: 2px $preto;
        color: $vinho-escuro;
        text-align: center;
    }

    span {
        color: $preto;
        -webkit-text-stroke: 3px $cor-principal;
    }

    article {
        font-size: 20px;
        margin: 20px 50px 40px 50px;
        padding: 30px 0 20px;
        color: $preto;
    }
}

.text-animate h2 {
    font-size: 3.2rem;
    font-weight: 700;
    height: 45px;
    color: transparent;
    padding: 20px 0 20px;
    -webkit-text-stroke: 3px $vinho-escuro;
    background-repeat: no-repeat;
    font-family: $fonte-principal;
    text-align: center;
}